body {
    margin: 0;
    color: #878787;
}

h1 {
    font-size: 72px;
    color: aqua;
}

h2 {
    font-size: 53px;
}

h3 {
    font-size: 20px;
    color: #4852c;
}

.main-header {
    background-color: orangered;
}

.primary-content {
    text-align: center;
}

.secondary-content {
    border-top: 2px solid lightgrey;
}

#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px orange;
}












